.liste {
  padding: 20px;
}

.liste h2 {
  text-align: center;
  margin-bottom: 20px;
}

.liste select {
  display: block;
  margin: 0px auto;
  padding: 10px;
  font-size: 16px;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  width: 220px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 10px 0;
}

.card button {
  background-color: #e7873b;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #d9752e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; 
  justify-content: center;
  margin-top: 20px;
}

.liste button {
  display: block;
  margin: 20px auto;
  padding: 10px 13px;
  font-size: 14px;
  background-color: #163767;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.liste button:hover {
  background-color: #e7873b;
}

.liste ul {
  list-style-type: none;
  padding: 0;
}